@import "./../../abstracts/variable";



[data-theme-version="dark"] {
    background: $d-bg !important;
    color: $d-ctl !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white !important;
    }

    .more-link {
        color: $d-ctl !important;
    }

    .bg-white {
        background-color: lighten($d-bg, 3.2%) !important;
    }

    .btn-light {
        border-color: $d-border !important;
    }

    .text-dark {
        color: $d-ctl !important;
    }

    .text-pale-sky {
        color: $d-ctl !important;
    }

    .nav-pills {
        border-bottom-color: $d-border;
    }

    .grid-col {
        background-color: lighten($d-bg, 3.2%);
    }

    
    //Generating border classess
    @each $value in $borders {
        @if $value == "" {
            .border {
                border: 1px solid $d-border !important;
            }
        } @else {
            .border-#{$value} {
                border-#{$value}: 1px solid $d-border !important;
            }
        }
    }


}