[data-theme-version="dark"] {

    .accordion {

        &#accordion-one {
            .card {
                border-bottom-color: $d-border !important;
            }
        }

        &#accordion-two {
            .card {
                border-bottom-color: $d-border !important;
            }
        }

        &#accordion-three {
            .card {
                border-bottom-color: $d-border !important;
            }
        }

        &#accordion-four {
            .card {
                border-bottom-color: $d-border !important;
            }
        }

        &#accordion-five {
            .card {
                border-bottom-color: $d-border !important;
            }
        }

        &#accordion-six {
            .card {
                border-bottom-color: $d-border !important;
            }
        }

        .card {

            .card-header {
                background-color: $d-bg;
            }
        }
    }

}