

.select2-label{
    color: $dark;
    line-height: 3rem;
}

.select2-container {
    min-width: 240px;

    @media(min-width: 1600px){
        min-width: 440px;
    }

    .select2-selection--single{
        height: 4.5rem;

        .select2-selection__rendered{
            line-height: 4.5rem;
            padding-left: 15px;
        }

        .select2-selection__arrow{
            height: 4.5rem;
        }
    }

    &--default{

        .select2-selection--single{
            border-color: #DDDFE1;

            .select2-selection__rendered{
                color: #797f84;
            }

            .select2-selection__arrow{
                right: 5px;
            }
        }

        .select2-search--dropdown .select2-search__field{
            border-color: #DDDFE1;
            border-radius: 5px;
        }

        .select2-selection--multiple{
            border-color: #DDDFE1;
            min-height: 4rem;

            .select2-selection__rendered{
                line-height: 4rem;
                padding: 0 10px;
            }

            .select2-selection__choice{
                background-color: $primary;
                color: $white;
                padding: 0 10px;

                &__remove{
                    color: $white;
                }
            }
        }

        &.select2-container--focus{

            .select2-selection--multiple{
                border-color: $primary;
            }
        }

        .select2-results__option[aria-selected=true]{
            background-color: $primary;
            color: $white;
        }

        .select2-results__option[aria-disabled=true]{
            color: #cccaca;
            cursor: no-drop;
        }

        .select2-results__group{
            color: $dark;
        }
    }
}

.select2-dropdown{
    border-color: #DDDFE1;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $primary;
    color: $white;
}

// .select2-container--default .select2-results__option[aria-selected=true]{
//     background-color: green;
//     color: red;
// }

