


    .form-group{

        label{
            font-size: 1.6rem;
        }

        .label-dark-text{
            color: $dark;
        }
    }

    .form-control{
        background: $white;
        min-height: 5rem;
        padding-left: 1.5rem;

        &::placeholder{
            color: #abafb3;
        }
    }

    .btn-light{
        border-color: #DDDFE1 !important;
    }

    .input-group{

        .input-group-text{
            font-size: 16px;
            color: #abafb3;
            padding: 0.375rem  1.5rem;
        }
    }
