.bootstrap-duallistbox-container.moveonselect .moveall, 
.bootstrap-duallistbox-container.moveonselect .removeall {
    width: 95%;
}

.bootstrap-duallistbox-container select option {
    padding: 7px;
}