.chat-contacts{
    

    .event-sideber-search,.slimScrollDiv{
        box-shadow: 2px 3px 10px 0px rgba(119, 119, 119, 0.1);
    }
}

.chat-search-form{

    .form-control{
        background: transparent !important;
    }

    i{
        font-size: 18px;
        color: $pale-sky;
    }
}