
.card.card-full-width {
    height: calc(100% + 6rem);
    margin-top: -6rem;
    margin-right: -3rem;
    margin-bottom: 0;
    // box-shadow: none;
    box-shadow: none;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;

    @include media-breakpoint-up(lg){
        position: absolute;
    }

    .card-body {
        padding-bottom: 0;
        padding-top: 6rem;
        overflow: hidden;
    }

    ul.contact-address-list {
        
        &>li {
            padding-top: 3rem;
            padding-bottom: 3rem;
            position: relative;

            h4 i {
                margin-right: .5rem;
            }

            h5{
                font-size: 1.8rem;

                i{
                    font-size: 1.8rem;
                    padding-right: .5rem;
                }
            }

            &:not(:last-child) {
                &:after {
                    position: absolute;
                    content: "";
                    height: .1rem;
                    width: 30rem;
                    left: calc(50% - 15rem);
                    top: 100%;
                    background-color: #EEEEEE;
                }
            }
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul.social-navigation {
        li {
            display: inline-block;
            margin: 1rem .2rem 1rem 1rem;

            a {
                height: 3rem;
                width: 3rem;
                text-align: center;
                line-height: 3rem;
                display: inline-block;
                border-radius: 50%;
            }
        }
    }
}


.user-intro {
    position: relative;
    padding-bottom: 2rem;

    &::after {
        position: absolute;
        height: .1rem;
        width: 10rem;
        content: "";
        background-color: #EEEEEE;
        left: calc(50% - 5rem);
        top: 100%;
    }
}

.user-skill {
    border-bottom: 0.1rem solid #EEEEEE;
    margin-bottom: 3rem;

    .user-info {
        li {
            margin-bottom: 3.5rem;
            h5 {
                margin-bottom: .5rem;
            }
        }
    }
}

.user-image {
    margin-bottom: 1rem;
    display: inline-block;
    margin-right: 0;
    position: relative;

    &::after {
        position: absolute;
        width: 110%;
        height: 110%;
        border: .2rem solid $primary;
        background-color: transparent;
        content: "";
        left: -5%;
        top: -5%;
        border-radius: 50%;
    }
}

.user-details-image{

    img{
        width: 130px;
        height: 130px;
        padding: 5px;
        border: 2px solid $primary;
    }
}

.user-intro {
     h4 {
         margin-bottom: .5rem;
     }
}

.user-info-setting-form{

    label{
        font-size: 1.7rem;
    }

    .form-control{
        background: transparent;
    }
}