.ribbon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;

    &-bookmarked {
        padding-top: 5rem;
    }

    &.ribbon-style-1 {
        left: -3.4rem;
        top: 1rem;
        width: 11rem;
        height: 2.5rem;
        background-color: #673AB7;
        clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
        transform: rotate(-45deg);
        
        &:after {
            right: -.5rem;
        }

        &:before {
            left: -.5rem;
        }

        &:after, &:before {

        }

        &:after, &:before {
            z-index: -1;
            background-color: #9568E5;
            top: .3rem;
            transform: rotate(45deg);
            content: "";
            height: 1rem;
            width: 1rem;
            position: absolute;
        }
    }

    &.ribbon-style-2 {
        left: -2.5rem;
        top: 1.5rem;
        width: 11rem;
        height: 2.9rem;
        background-color: #4CAF50;
        transform: rotate(-45deg);
    }

    &.ribbon-style-3 {
        left: -2.5rem;
        top: 1.5rem;
        width: 11rem;
        height: 2.5rem;
        background-color: $warning;
        transform: rotate(-45deg);
        font-size: 1.2rem;
        padding-bottom: .5rem;

        &::before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5rem 5rem 5rem;
            border-color: transparent transparent #FFC107 transparent;
            left: .4rem;
            top: -4.4rem;
        }
    }

    &.ribbon-style-4 {
        left: 0;
        top: 1.8rem;
        width: 11rem;
        height: 3.8rem;
        background-color: $danger;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }

    &.ribbon-style-5 {
        left: 0;
        top: 1.8rem;
        width: 11rem;
        height: 3.8rem;
        background-color: $info;
        -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    }

    &.ribbon-style-6 {
        left: 0;
        top: 1.8rem;
        width: 11rem;
        height: 3.8rem;
        background-color: #E91E63;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0, 85% 50%, 100% 100%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 0, 85% 50%, 100% 100%, 100% 100%, 0 100%);
    }

    &.ribbon-style-7 {
        right: 1rem;
        top: -.8rem;
        width: 11rem;
        height: 5.5rem;
        background-color: #FF9800;
        border-bottom-right-radius: 5rem;
        border-bottom-left-radius: 5rem;
        
        &:after {
            right: -.5rem;
        }

        &:before {
            left: -.5rem;
        }

        &:after, &:before {

        }

        &:after, &:before {
            z-index: -1;
            background-color: #F5C680;
            top: .3rem;
            transform: rotate(45deg);
            content: "";
            height: 1rem;
            width: 1rem;
            position: absolute;
        }
    }

    &.ribbon-style-8 {
        left: 1rem;
        top: -.8rem;
        width: 11rem;
        height: 5.5rem;
        background-color: #FF5722;
        
        &:after {
            right: -.5rem;
        }

        &:before {
            left: -.5rem;
        }

        // &:after, &:before {

        // }

        &:after, &:before {
            z-index: -1;
            background-color: #E3967E;
            top: .3rem;
            transform: rotate(45deg);
            content: "";
            height: 1rem;
            width: 1rem;
            position: absolute;
        }
    }

    &.ribbon-style-9 {
        left: 1rem;
        top: -.8rem;
        width: 5rem;
        height: 5.5rem;
        background-color: #9C27B0;
        
        &:after {
            right: -.5rem;
        }

        &:before {
            left: -.5rem;
        }

        // &:after, &:before {

        // }

        &:after, &:before {
            z-index: -1;
            background-color: #D589E2;
            top: .3rem;
            transform: rotate(45deg);
            content: "";
            height: 1rem;
            width: 1rem;
            position: absolute;
        }
    }
}

.ribbon-left-align{
    left: 1rem;
}