.user-avatar {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: $primary;
    margin: 0 auto;

    color: $white;
    font-weight: bold;
    font-size: 2.4rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}