


/*  1 - media screen and (max-width: 1750px)
---------------------------------------------------------------------- */

@media (min-width: 1680px) and (max-width:1750px) {}




/*  2 - media screen and (max-width: 1680px)
---------------------------------------------------------------------- */

@media (min-width: 1680px) and (max-width:1679px) {}




/*  3 - media screen and (max-width: 1280px)
---------------------------------------------------------------------- */

@media (min-width: 1280px) and (max-width:1679px) {}




/*  4 - media screen and (max-width: 1199px)
---------------------------------------------------------------------- */

@media (min-width: 1200px) and (max-width: 1279px) {}



/*  5 - media screen and (max-width: 1024px)
---------------------------------------------------------------------- */

@media (min-width: 992px) and (max-width: 1199px) {

}

/*  6 - media screen and (max-width: 991px)
---------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 991px) {
    .countdown-content{
        padding: 3rem 0;
        h1{
            font-size: 36px;
            margin-bottom: 3rem;
        }
        .timer{
            .days, .hours, .minutes, .seconds {
                margin-bottom: 15px;
                font-size: 3rem;
              }
        }
    }
}


/*  7 - media screen and (max-width: 767px)
---------------------------------------------------------------------- */

@media (min-width: 680px) and (max-width: 767px) {
    .countdown-content{
        padding: 50px 0;
        h1{
            font-size: 36px;
            margin-bottom: 3rem;
        }
        .timer{
            .days, .hours, .minutes, .seconds {
                margin-bottom: 15px;
                font-size: 3rem;
              }
        }
    }
}



/*  8 - media screen and (max-width: 680px)
---------------------------------------------------------------------- */

@media (min-width: 480px) and (max-width: 679px) {
    .countdown-content{
        padding: 3rem 0;
        h1{
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        .timer{
            .days, .hours, .minutes, .seconds {
                margin-bottom: 15px;
                font-size: 2.8rem;
                span{
                    font-size: 1.8rem;
                }
              }
        }
        p{
            font-size: 1.6rem;
            line-height: 2.7rem;
        }
    }
}


/*  9 - media screen and (max-width: 480px)
---------------------------------------------------------------------- */

@media (min-width: 360px) and (max-width: 479px) {
    .countdown-content{
        padding: 3rem 0;
        h1{
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        .timer{
            .days, .hours, .minutes, .seconds {
                margin-bottom: 1.5rem;
                font-size: 2.4rem;
                span{
                    font-size: 1.6rem;
                    display: block;
                }
              }
        }
        p{
            font-size: 1.6rem;
            line-height: 2.7rem;
        }
        .btn {
            margin-bottom: 1.5rem;
            margin-left: 0 !important;
          }
    }
}


/*  10 - media screen and (max-width: 320px)
---------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 359px) {
    .countdown-content{
        padding: 0;
        h1{
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        .timer{
            .days, .hours, .minutes, .seconds {
                margin-bottom: 15px;
                font-size: 2.4rem;
                span{
                    font-size: 1.6rem;
                    display: block;
                }
              }
        }
        p{
            font-size: 1.6rem;
            line-height: 2.7rem;
        }
        .btn {
            margin-bottom: 1.5rem;
            margin-left: 0 !important;
          }
    }
}


