

/*  1 - media screen and (max-width: 1750px)
---------------------------------------------------------------------- */

@media (min-width: 1680px) and (max-width:1750px) {}


/*  2 - media screen and (max-width: 1680px)
---------------------------------------------------------------------- */

@media (min-width: 1680px) and (max-width:1679px) {}


/*  3 - media screen and (max-width: 1280px)
---------------------------------------------------------------------- */

@media (min-width: 1280px) and (max-width:1679px) {}


/*  4 - media screen and (max-width: 1199px)
---------------------------------------------------------------------- */

@media (min-width: 1200px) and (max-width: 1279px) {}


/*  5 - media screen and (max-width: 1024px)
---------------------------------------------------------------------- */

@media (min-width: 992px) and (max-width: 1199px) {}


/*  6 - media screen and (max-width: 991px)
---------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 991px) {}


/*  7 - media screen and (max-width: 767px)
---------------------------------------------------------------------- */

@media (min-width: 680px) and (max-width: 767px) {}


/*  8 - media screen and (max-width: 680px)
---------------------------------------------------------------------- */

@media (min-width: 480px) and (max-width: 679px) {}


/*  9 - media screen and (max-width: 480px)
---------------------------------------------------------------------- */

@media (min-width: 360px) and (max-width: 479px) {
    .icons {
        position: static!important;
        .drop-down {
            width: 100%;
        }
        .dropdown-profile {
            width: 17.5rem;
        }
        .log-user {
            img {
                width: 3rem;
                height: 3rem;
                margin-right: .5rem;
            }
            span {
                display: none;
            }
        }
    }
}


/*  10 - media screen and (max-width: 320px)
---------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 359px) {
    .icons {
        position: static!important;
        .drop-down {
            width: 100%;
        }
        .dropdown-profile {
            width: 17.5rem;
        }
        .log-user span {
            display: none;
        }
    }
}