// Font Variable
$pf:  'Poppins', sans-serif;
// $pf:  'Montserrat', sans-serif;;

// Color Variable
$primary: #7F63F4;
$secondary: #673BB7;
$success: #4CAF50;
$info: #00a2ff;
$danger: #FF5722;
$warning: #FFC107;
$dark: #464a53;
$light: #aaa;
$muted: #abafb3;
$border: #DDDFE1;
$inverse: #2F3D4A;
$shaft: #333;
$dove_gray: #707070;
///////////////
// Solid Color
///////////////
$white: #fff;
$black: #000;
/////////////////////////
// Dark Version Color
/////////////////////////
$d-ctd: #ddd;
$d-ctl: #94a2c9;
$d-border: #42454D;
$d-bg: #2B2E37;
////////////////////////
// Light Version Color
////////////////////////
$l-ctd: #464a53;
$l-ctl: #abafb3;
$l-border: rgba(120, 130, 140, 0.13);
$l-bg: #f3f6f9;
/////////////
// Social
/////////////
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #FF0000;
$google-plus: #db4439;
$iron: #DDDFE1;
$linkedin: #007bb6;
$instagram: #c32aa3;
$pinterest: #bd081c;
$google: #4285f4;
$snapchat: #fffc00;
$whatsapp: #25d366;
$tumblr: #35465d;
$reddit: #ff4500;
$spotify: #1ed760;
$yahoo: #430297;
$dribbble: #ea4c89;
$skype: #00aff0;
$quora: #aa2200;
$riverBed: #4C585C;
$vimeo: #1ab7ea;
///////////////////
// Material Color
///////////////////
$athensGray: #F0F0F2;
$alabaster: #FBFBFB;
$red: #ff0000;
$purple: #7C277D;
$pink: #e91e63;
$deep-pink: #fe60ad;
$deep-purple: #664CE1;
$indigo: #3f51b5;
$blue: #398BF7;
$light-blue: #5C97E6;
$pale-sky: #6a707e;
$cyan: #00bcd4;
$teal: #39CCCC;
$green: #26DA87;
$gray: #898989;
$light-green: #43e794;
$lime: #cddc39;
$yellow: #FFB22B;
$amber: #ffc107;
$orange: #F7941D;
$deep-orange: #D08021;
$maroon: #8C1919;
$grey: #D2D6DE;
$navy: #102D4B;
$blue-grey: #607d8b;
$brown: #795548;
$cloud: #AAE8FF;
$sunshine: #FFBE26;
$sky: #2290FF;
$base-font-size: 1.4rem !default;
$heading-primary-size: 1.8rem;
$sub-heading-size: 1.6rem !default;

$grid-gutter-width: 24px;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px, 
//   xxl: 1400
// );




//color for coller pallate


$color_pallate_1: $primary;
$color_pallate_2: #ad1457;
$color_pallate_3: #6a1b9a;
$color_pallate_4: #4527a0;
$color_pallate_5: #c62828;
$color_pallate_6: #283593;
$color_pallate_7: #1565c0;
$color_pallate_8: #0277bd;
$color_pallate_9: #00838f;
$color_pallate_10: #558b2f;

