html[dir="rtl"] {

    //sidebar right
    [direction="rtl"] {
        .sidebar-right {
            left: -25rem;
            right: auto;

            &.show {
                left: 0;
                right: auto;
            }

            .sidebar-right-trigger {
                left: 100%;
                right: auto;
            }
        }
    }

}