
@import "../../../../assets/plugins/bootstrap-v4-rtl/scss/rtl";

.rtl {
    
  // stylelint-disable declaration-no-important
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      @each $prop, $abbrev in (margin: m, padding: p) {
        @each $size, $length in $spacers {

          .#{$abbrev}r#{$infix}-#{$size},
          .#{$abbrev}x#{$infix}-#{$size} {
            #{$prop}-right: auto!important;
            #{$prop}-left: $length !important;
          }
          .#{$abbrev}l#{$infix}-#{$size},
          .#{$abbrev}x#{$infix}-#{$size} {
            #{$prop}-left: auto!important;
            #{$prop}-right: $length !important;
          }
        }
      }

      .mr#{$infix}-auto,
      .mx#{$infix}-auto {
        margin-right: auto!important;
        margin-left: auto !important;
      }
      .ml#{$infix}-auto,
      .mx#{$infix}-auto {
        margin-right: auto !important;
        margin-left: auto!important;
      }
    }
  }


  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  
      .float#{$infix}-left  { @include float-right; }
      .float#{$infix}-right { @include float-left; }
      .float#{$infix}-none  { @include float-none; }
    }
  }



}



html[dir="rtl"]{
    //global styles
    [direction="rtl"] {

        &[data-theme-version="dark"] {
            .border, .border-left, .border-right {
                border-color: $d-border !important;
            }
        }

        .card {
            text-align: right;

            &-title, &-body {
                text-align: right;
            }

            &-header {
                .table-action {
                    float: left !important;
                }
            }
        } 

        .card.card-full-width {
            right: auto;
            left: 0;
            margin-left: -3rem;
            margin-right: auto;
        }

        .text-right {
            text-align: left !important;
        }

        .text-left {
            text-align: right !important;
        }

        .border-right {
            border-left: 1px solid $border !important;
            border-right: 0 !important;

        }

        .border-left {
            border-right: 1px solid $border !important; 
            border-left: 0 !important;
        }

        .owl-carousel, .owl-carousel .owl-item {
            direction: ltr;
        }
    }
}