.faq-tab-panel {

    .nav-pills {

        .nav-link {
            display: block;
            padding: 2.4rem 1.9rem;
            background-color: $white;
            box-shadow: 2px 3px 10px 0px rgba(119, 119, 119, 0.1);
            border-radius: 4px;

            @media(min-width: 1400px){
                padding: 2.4rem 6rem 1.9rem 1.9rem;
            }

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            &.active {
                background-color: $primary;
                color: $white !important;

                h4,p,i{
                    color: $white !important;
                }
            }

            & .media-body{

                p{
                    font-size: 1.6rem;
                    color: $muted;
                }
            }
        }

        .nav-icon {
            margin-right: 2rem;
            min-width: 50px;
            text-align: center;

            & i{
                font-size: 4rem;
                line-height: 5.6rem;
                color: $primary;
            }
        }
    }

    .tab-content {
        .media i {
            color: $primary;
            font-size: 4rem;
            line-height: 5.6rem;
        }
    }
}

.faq{

    &-heading{

        h1{
            font-size: 4rem !important;
            margin-bottom: 4rem;
        }
    }
}