.action-icons {
    .item {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 1px solid $border;
        background-color: $white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .1s;

        &:hover {
            background-color: darken($color: $white, $amount: .5);
        }
    }
}

.single-transaction-card {
    padding: 3rem;
    // color: $white;
    margin-bottom: 4rem;
    border-radius: 5px;
    margin-top: 8.3rem;
    height: 27.8rem;
    position: relative;
    
    @include respond(phone-land) {
        margin-top: 6rem;
        margin-bottom: 0;
        height: 30.8rem;
    }
    
    @include respond(phone) {
        margin-top: 8rem;
    }

    p {
        margin-bottom: 0;
    }

    @include custommq($min: 1200px, $max: 1550px) {
        padding: 2rem;
    }

    &.add-new-card {
        border: 1px dotted $border;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        // @include respond('phone-land') {
        //     margin-top: 2.5rem;
        // }

        @include respond(phone-land) {
            margin-top: 2rem;
        }

        span {
            text-align: center;
        }

        i {
            color: $primary;
            font-size: 3.5rem;
        }
    }

    .card-img {
        text-align: center;
        margin-top: -8.7rem;
        // margin-bottom: 3rem;

        img {
            max-width: 100%;
        }
    }

    .card-info {
        height: 100%;
        padding-top: 3rem;
        position: relative;

        a {
            color: $white;
            display: inline-block;
            margin-top: 3rem;
    
            i {
                font-weight: 400;
            }
    
            @include custommq($min: 1401px, $max: 1700px) {
                margin-top: 6rem;
            }
    
            @include respond(phone) {
                margin-top: 2rem;
            }
        }
    }
}

.lw-transaction {

    li {
        position: relative;
        display: inline-block;

        @at-root [direction="rtl"] #{&} {
            &:not(:first-child) {
                margin-right: 5rem;
            }
        }

        &:not(:last-child) {
            margin-right: 5rem;
        }

        &:nth-child(1)::before {
            background-color: $dark;
        }

        &:nth-child(2)::before {
            background-color: $primary;
        }

        &::before {
            position: absolute;
            content: "";
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            left: -1.5rem;
            top: 0.6rem;
        }
    }
}

.transfer-history {

    .table-padded {
        
        @include custommq($min: 1200px, $max: 1450px) {
            border-spacing: 0 1rem;

            td {
                padding: 1rem;
            }
        }
    }

    .action-icons {
        @include custommq($min: 992px, $max: 1500px) {
            float: none !important;
            margin-top: 1rem;
        }
    }
}

.prev-transactions-table {
    .table-padded {
        border-spacing: 0 .2rem;

        button.btn {
            border-color: #71D875;

            &:hover, &:focus {
                background-color: #71D875;
            }
        }
    }
}

.transfer-history-table {
    border-spacing: 0 1rem;

    h5, p {
        line-height: 1;
    }
}