.time-filter {
    text-align: right;

    li {
        display: inline-block;
        position: relative;

        @at-root [direction="rtl"] #{&} {
            margin-left: 3rem;
            margin-right: auto;
        }

        &:not(:last-child) {
            margin-right: 3rem;

            @include respond(phone) {
                margin-right: 0;
            }
        }

        &:first-child::before {
            background-color: $dark;
        }

        &:last-child::before {
            background-color: $light-green;
        }

        // $this: &;

        &::before {
            content: "";
            width: 1rem;
            height: 1rem;
            border-radius: 50px;
            right: 110%;
            top: .7rem;
            position: absolute;
        }
    }
}

@include respond('desktop') {
    .workout-result:first-of-type {
        margin-top: 8rem;
    }
}

.workout-result:not(:last-child) {
    margin-bottom: 4rem;
}

.total-activity-time {
    height: 100%;
    color: $white;
    padding: 4.5rem 5rem;

    .chart {

        .absolute-text {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

            h4 {
                color: #fda23f;
            }
        }
    }
}

.records-collection-2, .records-collection-2 {
    color: $dark;
}

.weekly-progress-bars {
    .progress-wrapper {
        h5 {
            margin-bottom: 1rem;

            @include respond(phone-land) {
                margin-bottom: 0.8rem;
            }
        }

        margin-top: 4.5rem;

        @include respond(phone-land) {
            margin-top: 3rem;
        }
    }
}