.card-body-2 {
    span {
        i {
            font-size: 1rem !important;
        }
    }
}



.diffrent-color {
    i {
        color: #ff9800;
    }
}

.earning-chart-data {

    ul li {
        flex-basis: 45%;
        color: $pale-sky;
        font-size: 1.4rem;

        @include custommq($min: 1200px, $max: 1500px) {
            flex-basis: 100%;
        }
    }
}

.market-capital {
    &.table > tbody > tr > td {
        color: $l-ctl;
    }
}