.status-table {
    &.table-padded {
        border-spacing: 0 1rem;
    }
}

.student-roster-card {
    background-color: $l-bg;
    margin-bottom: 1.7rem;

    i {
        color: #ff5274;
    }

    &.card {
        box-shadow: none;
        transition: all .2s;

        &:hover {
            background-color: $primary;
            
            * {
                color: $white;
            }
        }
    }
}