.status {
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    display: inline-block;

    &.online {
        background-color: $success;
    }

    &.offline {
        background-color: $danger;
    }

    &.removed {
        background-color: $dark;
    }
}

.photo-carousel {
    position: relative;
    height: 45rem;

    @include custommq($min: 1200px, $max: 1440px) {
        height: 26rem;
    }

    @include respond(tab-land) {
        height: 42rem;
    }
    

    div {
        height: 100%;
        
        // &.owl-item {
        //     width: 100% !important;
        // }
    }
    

    .single-photo {
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            min-width: 100%;
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 5rem;
        z-index: 1;
        background-color: rgba($color: $white, $alpha: .6);
        text-align: right;

        .owl-dot {
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            background-color: #fff;
            margin: 1.9rem 1rem;

            &:focus {
                outline: none;
            }

            &.active {
                background-color: $primary;
            }
        }
    }
}

.single-activity {
    margin-bottom: 4.5rem;

    @include custommq($min: 768px, $max: 1440px) {
        min-height: 18rem;
    }

    @include respond(phone-land) {
        margin-bottom: 2rem;
    }

    p {
        @include respond(phone) {
            text-align: justify;
        }
    }
}

.card-portfolio-widget{
    transition: box-shadow .4s ease-out;

    .card-body {
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
    }
    
    &:hover{
        box-shadow: 3px 20px 20px 0px rgba(0, 0, 0, 0.1); 
    }
}

.fanbase-table {
    &.table-padded {
        border-spacing: 0 1rem;
    }
}

.fanbase-area {

    .card {
        @include custommq($min: 576px, $max: 1440px) {
            width: 48%;
            float: left;
            margin-left: 1%;
            margin-right: 1%;
        }
    }

    .card-body {
        padding-top: 2rem;
        padding-bottom: 2rem;

        button.btn {
            width: 7.5rem;
            text-align: center;
            font-size: 1.3rem;
            padding: .3rem 0;
        }
    }
}

.portfolio-filter-area {
    [type=checkbox] + label {
        margin-bottom: 0;
        height: 1.5rem;
        line-height: 1.8rem;
        padding-left: 3rem;
    }
}