.total-product-sales {
    ul.list {
        li {
            display: inline-block;
            position: relative;
            
            &:not(:last-child) {
                margin-right: 5rem;
            }

            &:before {
                position: absolute;
                left: -1.8rem;
                top: .7rem;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                content: "";
            }

            &:first-child::before {
                background-color: #A9CC51;
            }

            &:last-child::before {
                background-color: rgb(208, 123, 237);
            }
        }
    }
}
