@import "../abstracts/mixin";
@import "../abstracts/variable";

.task-table {
    table {
        td {
            padding: 0.1rem .75rem;
        }

        td span {
            position: relative;
            margin-left: 2rem;

            @at-root [direction="rtl"] #{&} {
                margin-left: auto;
                margin-right: 2rem;
            }

            &::after {
                @include before-after(-1.7rem, .7rem, 1rem, 1rem, "");
                border-radius: 50%;

                @at-root [direction="rtl"] #{&} {
                    left: auto;
                    right: -1.7rem;
                }
            }
        }

        tr.calls span::after {
            background-color: $danger;
        }

        tr.inprogress span::after {
            background-color: $warning;
        }

        tr.due span::after {
            background-color: $primary;
        }
    }
}

.widget-deals {
    h2 {
        font-size: 3.5rem;
        margin-bottom: .6rem;
    }

    h2, p {
        line-height: 1;
    }
}

.statisticsc-card {
    h5 {

    }

    h3 {
        font-weight: 700;
        font-size: 2.4rem;
    }

    h4 {
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 3.3rem;
    }
}

.call-center-table {
    &.table-padded {
        border-spacing:  0 1rem;
    }
}

.call-switch {
    .switchery {
        margin: 0 1rem;
    }
}