

.cryptocompare-logo{
    display: none;
}

.chartTypeTabLinks{
    font-size: 1.6rem!important;
    margin-bottom: 1rem;
    margin-right: 1rem!important;
    background: $dark!important;
}

.cTypeTabActive {
    background: $primary!important;
}

.ccc-widget.ccc-chart-v3>div {
    background: $l-bg!important;
    border: 0!important;
}

.tabContainer{
    text-align: center;
    .tablinks {
        border: .1rem solid $l-border!important;
        color: $primary;
        display: inline-block;
        float: none;
        font-size: 1.6rem;
        margin: 1rem .4rem;
        padding: .5rem 3rem;
    }
}

  .cccCustomRadioContainer span.radio::before{
      display: none;
  }