



.gateway{
    text-align: center;
    margin-bottom: 1rem;
    .gateway-img{
        padding-top: 15px;
        height: 7rem;
        margin: 0 auto 35px;
        max-width: 20rem;
    }
    a{
        display: inline-block;
        padding: 5px 3rem;
        margin-right: 15px;
    }
    .custom-checkbox{
        display: inline-block;
    }
}













