@media (min-width: 992px) {
    [data-container="boxed"] {
        #main-wrapper {
            max-width: 1199px;
            margin: 0 auto;

            @at-root [direction="rtl"]#{&} {
                text-align: right;
            }
        }
    }

}

    
    
@include custommq($min: 1350px) {
    [data-layout="vertical"][data-sidebar-style="overlay"][data-container="boxed"][data-header-position="fixed"] {
        .header {
            width: calc(1199px - 27.5rem);
        }
    }
    
    

}

@include custommq($min: 1200px, $max: 1349px) {
    [data-layout="vertical"][data-sidebar-style="overlay"][data-container="boxed"][data-header-position="fixed"] {
        .header {
            width: calc(1199px - 23rem);
        }
    }
}


[data-header-position="fixed"][data-layout="horizontal"][data-container="boxed"] {
    .nk-sidebar {
        max-width: 1199px;
    }
} //ok

[data-layout="horizontal"][data-container="boxed"][data-header-position="fixed"] {
    .header {
        width: calc(1199px - 14.5rem);
    }
}

[data-layout="horizontal"][data-container="boxed"][data-header-position="fixed"][data-sidebar-style="mini"] {
    .header {
        width: calc(1199px - 6rem);
    }
}


[data-container="boxed"] {
    .metismenu.fixed {
        left: auto;
        max-width: 1199px;
    }

    .page-titles {
        margin-bottom: 3rem;
        padding: 15px 15px;
    }

    .content-body .container-fluid {
        padding: 1.5rem 0 0;
    }
}

[data-container="boxed"][data-layout="vertical"] {
    .page-titles {
        margin-left: 0;
        margin-right: 0;
    }
}

[data-layout="vertical"][data-container="boxed"][data-sidebar-position="fixed"][data-header-position="static"][data-sidebar-style="overlay"] {
    .nav-header {
        position: absolute;
    }

    .menu-toggle {
        .nk-sidebar {
            position: absolute;
        }
    }
}

[data-container="boxed"][data-layout="vertical"][data-sidebar-style="overlay"] {
    .nk-sidebar {
        top: 11.3rem;
    }

    .nav-header {
        height: 6rem;

        .nav-control {
            top: 1.2rem;

            .hamburger.is-active {
                top: 0.5rem;
            }
        }

        a {
            padding: 0.85rem 1.7rem;
        }

        img {
            max-width: 43px;
        }
    }
}

[data-container="boxed"][data-layout="vertical"][data-sidebar-style="mini"] {
    .nav-header {
        height: 6rem;

        a {
            padding: 0.5rem .5rem;
        }
    }

    .content-body  {

        .page-titles {
            margin-left: -30px;
        }

        .container-fluid {
            padding: 1.5rem 0 0 3rem;
        }
    }
}

[data-container="boxed"][data-layout="vertical"][data-sidebar-style="compact"] {
    .nav-header {
        height: 6rem;

        a {
            padding: 0.8rem .5rem;

            img {
                max-width: 45px;
            }
        }

        // span.brand-title {
        //     display: none;
        // }
    }

    .content-body  {

        .page-titles {
            margin-left: -30px;
        }

        .container-fluid {
            padding: 1.5rem 0 0 3rem;
        }
    }
}