@import "../../abstracts/_mixin";
@import "../../abstracts/_variable";

@include custommq($min: 768px) {

    [data-sidebar-style="mini"] {
        
        .nav-header {
            width: 6rem;
            .brand-logo {
                z-index: 999;
                a {
                    padding: .5rem .5rem;
                    b {
                        img {
                            max-width: 5rem;
                        }
                    }
                }
            }
            .nav-control {
                z-index: -1;
                .hamburger{
                    left: 6rem!important;
                    .line{
                        background-color: $dark!important;;
                    }
                }
            }
            .brand-title {
                display: none;
            }
            .hamburger {
                display: none;
            }
        }

        .header-content {
            margin-left: 0;
            .header-left {
                margin-left: 1rem;
                .drop-down {
                    top: 0.5rem;
                }
            }
        }

        .nav-user {
            padding: 2rem 1.5rem 1.5rem;
            img {
                width: 3.5rem;
                height: 3.5rem;
                margin-bottom: 1rem;
            }
            h5,
            p {
                display: none;
            }
            i {
                margin-top: 1.5rem;
                display: block
            }
            .dropdown-menu {
                left: 4.5rem !important;
                top: 2.2rem !important;
            }
        }
        
        .nk-sidebar {
            width: 6rem;
            overflow: visible;
            position: absolute;

            .nav-text {
                display: none;
            }

            .slimScrollDiv,
            .nk-nav-scroll {
                overflow: visible !important;
            }
            .metismenu {
                li {
                    position: relative;

                    a {
                        padding: 1.3rem 1.5rem;
                    }

                    &>ul {
                        position: absolute;
                        left: 6rem;
                        top: 5.6rem;
                        width: 19rem;
                        z-index: 1001;
                        display: none;
                        padding-left: .1rem;

                        @at-root [direction="rtl"]:not([data-layout="horizontal"])#{&} {
                            left: auto;
                            right: 6rem;
                        }
                    }
                }
                &>li {

                    &>a {
                        
                        &.has-arrow {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                .nav-label,
                .nav-badge {
                    display: none;
                }
            }
        }

        .content-body {
            margin-left: 6rem;
        }

        .footer {
            padding-left: 6rem;
        }


    }

    [data-sidebar-style="mini"][data-layout="vertical"] {
        .nk-sidebar {
            .metismenu {

                &>li {

                    &:nth-last-child(-n + 3) {
                        &>ul {
                            bottom: 5.6rem;
                            top: auto;
                        }
                    }

                    @include respond(tab-land) {
                        &:nth-last-child(-n + 6) {
                            &>ul {
                                bottom: 5.6rem;
                                top: auto;
                            }
                        }
                    }

                    &>ul {
                        overflow: visible;

                        li:hover {
                            ul {
                                display: block;
                                left: 18.9rem;
                                top: 0;
                            }
                        }
                    }

                    &:hover {


                        &>a {
                            width: 25rem;
                            // background: #343a40;
                            .nav-text {
                                display: inline-block;
                                padding-left: 2.7rem;

                                @at-root [direction="rtl"]#{&} {
                                    padding-left: auto;
                                    padding-right: 2.7rem;
                                }
                            }
                        }
                        &>ul {
                            display: block;
                            height: auto !important;
                            overflow: visible;
                            a {
                                padding: 1rem 1.5rem 1rem 1.5rem;
                                margin-left: -.1rem;
                            }
                            ul a {
                                padding: 1rem 1.5rem 1rem 3rem;
                                margin-left: -.1rem;
                            }
                        }
                    }

                    &.mega-menu {

                        &> ul.collapse:not(.in) {
                            height: 252px !important;
                        }

                        &:hover {
                            &>a {
                                width: calc(70vw + 6rem);
                            }
                            &>ul {
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column;
                                max-height: 22rem;
                                width: 70vw;

                                ul a {
                                    width: 101%;
                                }
                            }
                        }

                        &-xl {
                            &:hover {
                                &>a {
                                    width: calc(70vw + 6rem);
                                }
                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 35rem;
                                    width: 70vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }

                        &-lg {

                            &:hover {
                                &>a {
                                    width: calc(80vw + 6rem);
                                }

                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 29rem;
                                    width: 80vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }

                        &-md {
                            &:hover {
                                &>a {
                                    width: calc(45vw + 6rem);
                                }
                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 30rem;
                                    width: 45vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }

                        &-sm {
                            &:hover {
                                &>a {
                                    width: calc(29vw + 6rem);
                                }
                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 29rem;
                                    width: 29vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    [data-sidebar-style="mini"][data-layout="vertical"][data-container="boxed"] {
        .nk-sidebar {
            .metismenu {

                &>li {

                    &.mega-menu {

                        &:hover {
                            &>a {
                                width: calc(60vw + 6rem);
                            }
                            &>ul {
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column;
                                max-height: 40rem;
                                width: 60vw;

                                ul a {
                                    width: 101%;
                                }
                            }
                        }

                        &-xl {
                            &:hover {
                                &>a {
                                    width: calc(60vw + 6rem);
                                }
                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 41rem;
                                    width: 60vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }

                        &-lg {

                            &:hover {
                                &>a {
                                    width: calc(50vw + 6rem);
                                }

                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 26rem;
                                    width: 50vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }

                        &-md {
                            &:hover {
                                &>a {
                                    width: calc(40vw + 6rem);
                                }
                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 30rem;
                                    width: 40vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }

                        &-sm {
                            &:hover {
                                &>a {
                                    width: calc(22vw + 6rem);
                                }
                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 29rem;
                                    width: 22vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    [data-sidebar-style="mini"][data-header-position="fixed"][data-container="boxed"][data-layout="vertical"] {
        .header {
            width: calc(1199px - 6rem);
        }
    }

}