

.flot-chart{
    height: 35rem;
}

.tooltipflot {
    background-color: #000;
    font-size: 1.4rem;
    padding: .5rem 1rem;
    color: rgba(255, 255, 255, 0.7);
    border-radius: .2rem; }
  
  .legendColorBox > div {
    border: 0 !important;
    padding: 0 !important; }
  
  .legendLabel {
    font-size: 1.1rem;
    padding-left: .5rem; 
  }
    
.flotTip {
  background: $black;
  border: 1px solid $black;
  color: $white;
}