.easy-pie-chart {
    position: relative;
    display: inline-block;

    .percent {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &:after {
            position: absolute;
            content: "%";
            left: 100%;
            top: 0;
        }
    }
}