

.superpose {
    color: #EEE;
    height: 35rem;
    width: 100%
}

.superclock {
    position: relative;
    width: 30rem;
    margin: auto
}

.superclock1{
    position:absolute; left:1rem; top:1rem;
}

.superclock2{
    position:absolute; left:6rem; top:6rem;
}

.superclock3{
    position:absolute; left:11rem; top:11rem;
}

